

@font-face {
	font-family: 'icomoon';
	src:url('/icons/icomoon.eot');
	src:url('/icons/icomoon.eot?#iefix') format('embedded-opentype'),
		 url('/icons/icomoon.woff') format('woff'),
		 url('/icons/icomoon.ttf') format('truetype'),
		 url('/icons/icomoon.svg#icomoon') format('svg');
}

.head-menu {
	margin-right: 10%;
	margin-top: 0.75em;
	display: block;
	margin-bottom: 25px;
	text-align: right;
	max-width: 850px;

}

.left-float {
	float: left;
}

.minilogo {
    background-image: url('/img/minilog.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    margin-top: 0px;
    display: block;
    width: 120px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}


.head-menu a {
	display: inline-block;
	margin: 0.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 1.4em;
	border-bottom: 2px solid rgba(0,0,0,0);
}


.logo-background {
	width: 340px;
	height: 140px;
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	left:150px;
	position:relative;
	margin-left:14%;
	-webkit-font-smoothing: antialiased; 
}

.post-list a {
	font-size: 0.9em;
	font-weight: 200;
}

.content {
	margin-left: 25%;
	margin-right: 25%;
	font-family: 'Source Sans Pro', sans-serif;

}

.title {
	font-weight: 575;
	font-size: 44px;
	margin-bottom: 10px;
	color: #958383;
}

.footer{
	border-top: 2px solid #E4A298;
	margin: 3% 25%;
	text-align: center;
	max-width: 360px;
}

.footer a{
	display: inline-block;
	margin-top: 15px;
	margin-right: 2em;
	margin-bottom: 25px;
}

.head-menu a:link {
	color: #958E8E;
	text-decoration: none;
}

.head-menu a:visited {
	color: #958E8E;
	text-decoration: none;
}

.footer a:link {
	color: #000;
	text-decoration: none;
}

.head-menu a:hover {
	border-bottom: 2px solid #B60B0B;
} 

.post-list a:link {
	color: #958383;
	text-decoration: none;
}

.post-list a:visited {
	color: #958383;
	text-decoration: none;
}

.post-list a:hover {
	color: #D75643;
}

.post-list li {
    list-style-type: none;
}

.post-list {
	margin-top: -15px;
	margin-left: -100px;
	max-width: 500px;
}

.post-list h2 {
	margin-left: 35px;
}

.post_extract {
	margin-top: -12px;
	line-height: 135%;
	color: #474040;
}


.pagination {   
	display: inline-block;
    padding: 0.3125em 0.625em;
    border-radius: 0.4em;
    background: #f8f8f9;
    margin-bottom: 0.75em;
    font-size: 0.9375em;
    margin-left: 20%;
    color: #958E8E;
}

.pagination a {
	color: #D75643;
	text-decoration: none;
}

.pagination a:visited {
	color: #D75643;
}


.github:after {
	content: "\e902";
	font-family: "icomoon";
	color: #958E8E;
	font-size: 1.7em;
	-webkit-font-smoothing: antialiased; 
}

.twitter:after {
	content: "\e901";
	font-family: "icomoon";
	color: #958E8E;
	font-size: 1.7em;
	-webkit-font-smoothing: antialiased; 
}

.instagram:after {
	content: "\e900";
	font-family: "icomoon";
	color: #958E8E;
	font-size: 1.7em;
	-webkit-font-smoothing: antialiased; 
}

.linkedin:after {
	content: "\e904";
	font-family: "icomoon";
	color: #958E8E;
	font-size: 1.7em;
	-webkit-font-smoothing: antialiased; 
}

.github:hover:after{
	content: "\e902";
	font-family: "icomoon";
	color: #D75643;
}

.twitter:hover:after{
	content: "\e901";
	font-family: "icomoon";
	color: #D75643;
}

.instagram:hover:after{
	content: "\e900";
	font-family: "icomoon";
	color: #D75643;
}

.linkedin:hover:after{
	content: "\e904";
	font-family: "icomoon";
	color: #D75643;
}

/*Post's styling*/

.post{
	margin-left: 25%;
	margin-right: 25%;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 145%;
	color: #474040;
}

.post-title {
	color: #D75643;
	margin-bottom: 0px;
	font-size: 2.3em;
	line-height: 90%;
	max-width: 360px;
}

.post-tag{
	font-size: 12px;
	font-style: italic;
}

.post-tag a:link {
	text-decoration: none;
	color: #958E8E;
}

.post-tag a:visited {
	text-decoration: none;
	color: #958E8E;
}

.post-tag a:hover {
	color:#716A6A;
}

.post-meta{
	color: #958E8E;
	margin-top: 7px;
	font-weight: 300;
	font-size: 16px;
}

.post-content {
	margin-left: -5rem;
	max-width: 525px;
	line-height: 155%;
}

.post-content a:link {
	text-decoration: none;
	color: #D45F2D;
}

.post-content a:visited {
	text-decoration: none;
	color: #D45F2D;
}

.image-post {
	display: block;
	margin-left: 12%;
    margin-right: 10%;
}

.image-thin {
	margin-left: 20%;
}

.big-plot {
	margin-left: 0%;
    margin-right: 0%;
}

.bigger-plot-left {
	margin-left: -5%;
    margin-right: 0%;
}

.single-table table {
	border-collapse: collapse;
    border-spacing: 2;
    display: inline-block;
	padding-top: 5px;
	margin-left: 25%;
	margin-bottom: -10px; 
}

.single-table th {
    text-align: center;
  	vertical-align: middle;
  	font-size: 0.9em;
  	padding: 0.2em 0.6em;
  	color: #5D4C4C;
}

.single-table td {
	text-align: center;
  	vertical-align: middle;
  	font-size: 0.8em;
  	padding: 0.2em 0.6em;
  	color: #726767;
}

.single-table tr {
	border:1px solid #B79D9D;
}

.arrow-down {
	height: 25px;
	margin-left: 2.5%;
}

.table-pipe {
	font-size: 1.3em;
	color: #D45F2D;
	border-color: red;
	margin-left: 25%; 
}

.next-two-tables table {
    border-collapse: collapse;
    border-spacing: 2;
    display: inline-block;
	vertical-align:top;
	margin-left: 15px;

}

.next-two-tables th {
    /*border:1px solid #000000;*/
    text-align: center;
  	vertical-align: middle;
  	font-size: 0.9em;
  	padding: 0.2em 0.6em;
  	color: #5D4C4C;
}

.next-two-tables td {
    text-align: center;
  	vertical-align: middle;
  	font-size: 0.8em;
  	padding: 0.2em 0.6em;
  	color: #726767;

}

.next-two-tables tr {
	border:1px solid #B79D9D;
}

.next-two-tables table{
	width: 120px
	margin-left: 2px;
	float: left;
	margin-right: 80px;
	margin-bottom: 10px;
	
}


.tables-back {
	padding-left: 10px;
	width: 85%;
	display: inline-block;
	background: #e8e9ea;
	border-radius: 0.4em;
	padding-bottom: 15px;
	margin-left: 10%;
	margin-right: 5%;
}

.table-ref {
	float: left;
	font-size: 2em;
	color: #D45F2D;
	margin-right: -5px;
}

.table-ref-orig {
	float: left;
	font-size: 2em;
	color: #D45F2D;
}

.map_plotting {
    position: relative;
    padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.map_plotting iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map_plotting_big iframe {
	margin-left: -175px;
	padding-left: 30px;
	margin-bottom: -50px;
}



#disqus_thread {
	margin-top: 20px;
	margin-left:20%;
	margin-right:30%;
}

/*About page styling*/


.personal_info img {
	width: 135px;
	height: 200px;
	float: left;
	border-radius: 30% 10%;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-right: 3px solid #FDE9E9;
	border-bottom: 2px solid #FDE9E9;
}



/*Projects' page styling*/

.project-box {
  border: 2px solid #D1CCCC;
  margin-top: 20px;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 2%;
  background-color: #EEEEEE;
  border-radius: 3%;
  color: #403A3A;
  max-width: 500px;
}

.der_game {
	width: 150px;
	height: 150px;
	background-image: url('/img/der_die_das.png');
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-right: 10px;
	margin-top: 5%;
}

.pandas {
	width: 150px;
	height: 150px;
	background-image: url('/img/pandas_logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-right: 10px;
	margin-top: 5%;
}

.class_meth {
	width: 150px;
	height: 150px;
	background-image: url('/img/class_meth.png');
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-right: 10px;
	margin-top: 5%;
}

.project-box h3 {
 	margin-top: -1px;
 	margin-bottom: -12px;
 	width: 300px;
 	font-size: 14px;
 	overflow: hidden;
	}

.project-box p {
	width: 300px;
	font-size: 14px;
	line-height: 145%;
	overflow: hidden;
}

.project-box a:link{
	text-decoration: none;
	color: #403A3A;
}

.project-box a:visited{
	text-decoration: none;
	color: #403A3A;
}

/*styling tag page*/

.tag-look {
	font-size: 23px;
	color: #958E8E;
	font-weight: lighter;
}

.post-tag-title {
	color: #716A6A;
	font-weight: 400;

}

.date-tag {
	font-size: 12px;
	font-style: italic;

}

.date-tag a:link {
	text-decoration: none;
	color: #958E8E;
}

.date-tag a:visited {
	text-decoration: none;
	color: #958E8E;
}

.date-tag a:hover {
	color:#716A6A;
}

.tag-list{
	font-size: 14px;

}



@media screen and (max-width: 599px) {
		.head-menu {
			margin-right: 8%;
		}

		.head-menu a {
		font-size: 1.1em;
		margin: 0.3em;
		}

		.minilogo {
		width: 90px;
		height: 40px;
		}

		.logo-background{
		width: 250px;
		height: 95px;
		margin-left: -100px;	
		} 

		.der_game {
		width: 75px;
		height: 75px;
		margin-top: 30px;
		background-size: contain;
		}

		.post {
		font-size: 0.8em;	
		}

		.post-list a {
		font-size: 0.8em;
		}

		.post_extract {
		font-size: 0.85em;	
		}

		.post-title {
		font-size: 1.6em;
		}

		.highlight {
		margin-left: 3px;
		margin-right: -40px;
		}


		.image-post {
		width: 200px;
		height: 175px;
		display: block;
		margin-left: 5%;
    	margin-right: 10%;
		}

		.table-ref {
			margin-right: 60px;
		}

		.pandas {
		width: 75px;
		height: 75px;
		margin-top: 30px;
		background-size: contain;
		}

		.class_meth {
		width: 75px;
		height: 75px;
		margin-top: 30px;
		background-size: contain;
		}

		.project-box {
		margin-left: 20px;
		}

		.project-box h3 {
		font-size: 12px;
		width: 60%;
		}

		.project-box p {
		font-size: 12px;
		width: 60%;
		}

		.github:after {
		font-size: 1.2em;
		}

		.twitter:after {
		font-size: 1.2em;
		}

		.instagram:after {
		font-size: 1.2em;
		}

		.linkedin:after {
		font-size: 1.2em;
		}

		.footer a{
		margin-right: 1em;
		}
}

@media only screen and (min-width:599px) and (max-width: 799px) {

	.logo-background{
	width: 340px;
	height: 140px;
	margin-left: 1%;	
	} 

	.der_game {
	width: 125px;
	height: 125px;
	}

	.pandas {
	width: 125px;
	height: 125px;
	}

	.table-ref {
	margin-right: 90px;
	}

	.class_meth {
	width: 125px;
	height: 125px;		
	}

	.project-box h3 {
	font-size: 13px;
	width: 60%;
	}

	.project-box p {
	font-size: 13px;
	width: 60%;
	}
}


@media screen and (min-width: 980px) {
	.logo-background {
		background-size: contain;
		width: 340px;
		height: 140px;
		left:12.5%;
	}


/*Correct floating -- clearfix*/

.group::after {
	content: " ";
	display: table;
	clear: both;
}





