---
layout: default
---

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} <br/>
    {% for tag in page.tags %}
    <span class="post-tag">
    <a  href="{{site.url}}/tags/#{{tag}}"> {{ tag }} </a>{% if forloop.last == false %} /{% endif %}
    {% endfor %}
    </span>
    </p>


  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include disqus.html disqus_identifier=page.disqus_identifier %}
